body {
    background-color: #e7e7e7;
}
body {
    background-color: #e7e7e7;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}
.caixa {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
