body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

section {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}
.caixa {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

