body {
    background-color: #e7e7e7;
    font-family: Arial, sans-serif;
    .caixa {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
}
#titulo-principal {
    font-size: 32px;
    margin-bottom: 5px;
}

.subtitulo {
    font-size: 14px;
    color: #555;
}

h2 {
    margin-bottom: 10px;
}

}

